{% extends 'user/userhome.html' %}
{% block content %}
<div class="card">
<form method="post" enctype="multipart/form-data" style="color:black;margin-left:100px;">
   <br> <h1 style="color:black;margin-left:20px;">PROFILE</h1>
    {% csrf_token %}
    {% for i in data %}
    <img src="{{i.image.url}}" width="200px" height="180px"><br><br>
    <p>Name : {{i.name}}</p>
    <p>Age : {{i.age}}</p>
    <p>Gender : {{i.gender}}</p>
    <p>Phone : {{i.phone}}</p>
    <p>Address : {{i.address}}</p>

    {% endfor %}
</form>
</div>

{% endblock %}