{% extends 'user/userhome.html' %}
{% block content %}

<div class="card" style="color:black;">
 <br> <h1 style="margin-left:50px;">VIEW COURSES</h1><br>
  <table style="margin-left:20px;">
    <tr>
      <th>SI.NO</th>
      <th>Name</th>
      <th>Branches</th>
      <th>Duration</th>
      <th>University</th>
      <th>Description</th>
    </tr>
    {% for i in data %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.name}}</td>
      <td>{{i.branches}}</td>
      <td>{{i.duration}}</td>
      <td>{{i.university}}</td>
      <td>{{i.description}}</td>

    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}